body,
html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/egg.jpg");
    height: 70%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.block-img {
    object-fit: cover;
    height: 100px;
    width: 100px;
    padding: 12px;
    border-radius: 20px;
}

.card-grid {
    display: grid;
    grid-template-columns: auto auto;
}

.word {
    margin-top: 35px;
}

.block-img {
    margin-left: 30px;
}

.carousel-img {
    object-fit: cover;
    height: 150px;
    width: 250px;
    padding: 12px;
    border-radius: 20px;
}

.mobile-carousel {
    width: 100%;
    position: relative;
    padding: 0 24px;
    margin: 0 auto;
}

.grid-car {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.fpage-1 {
    max-width: 960px;
    margin: 0 auto;
}

.fpage {
    width: 100%;
}

@media only screen and (max-width: 768px) {
    .desktop-carousel {
        display: none;
    }
    .mobile-carousel {
        display: block;
    }
    .mobile-food {
        display: block;
    }
    .desktop-food {
        display: none;
    }
}

@media only screen and ( min-width: 769px) {
    .desktop-carousel {
        display: block;
    }
    .mobile-carousel {
        display: none;
    }
    .mobile-food {
        display: none;
    }
    .desktop-food {
        display: block;
    }
    .carousel-img {
        object-fit: cover;
        height: 250px;
        width: 350px;
        padding: 12px;
        border-radius: 20px;
    }
    .block-img {
        margin-left: 150px;
    }
    .hero-image {
        height: 90%;
    }
}

@media screen and (max-width: 767px) and (min-width: 600px) {
    .mobile-carousel {
        padding: 0 18px;
    }
}